<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Medical store</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 0;
            background-image: url(https://scontent.ftrv3-1.fna.fbcdn.net/v/t1.6435-9/66801831_473177506848294_608228705541554176_n.png?_nc_cat=102&ccb=1-7&_nc_sid=300f58&_nc_ohc=RAc8CNND8bIAX_Isz3r&_nc_ht=scontent.ftrv3-1.fna&oh=00_AfCh1AolMVGX0H6wJgrQknTDb_T9SJdJbkZrRw-k5uWzuQ&oe=660A2F80);
            background-size: cover;
        }

        nav {
            background-color:transparent;
            overflow: hidden;
        }

        nav button {
            float: right;
            color: white;
            text-align: center;
            padding: 10px;
            text-decoration: none;
            background-color: rgb(76, 76, 221);
            border-radius: 8px;
            margin-right: 10px;
            margin-top: -70px;
            size: 20px;
        }

        nav button:hover {
            background-color: white;
            color: black;
        }
        h1{
          color: white;
          justify-content: center;
          text-align: center;
          font-size: 40px;

      
        }
    </style>
</head>
<body>

<nav>
  <h1>Medical Store</h1>
  <button><a href="/user/login">Login</a></button>
</nav>

</body>
</html>
